EXPO_PUBLIC_SUPABASE_URL= zspoxstqdwqqzbydazcf
EXPO_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpzcG94c3RxZHdxcXpieWRhemNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2MjY1ODUsImV4cCI6MjA4NzIwMjU4NX0._LIRBZmwIoZXpF08hJVc_7H9Lpu5HX2FQy6UoL2RhoM
